.advantages__list {
  list-style: none;
}

.advantages__title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.advantages__description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.advantages__description--color {
  color: #333333;
  background-color: #ffffff;
}

.advantages__picture {
  background-color: #81b3d2;
  color: #ffffff;
}
