.hotel-search {
  color: #000000;
  background-color: #ffffff;
}

.hotel-search__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.hotel-search__title--location {
  margin: 24px auto 15px;
  width: 260px;
  text-align: center;
}

.hotel-search__description--location {
  margin: 0 auto 32px;
  width: 262px;
  text-align: center;
}

.hotel-search__description--color {
  color: #333333;
}

.hotel-search__button {
  display: block;
  width: 254px;
  min-height: 58px;
  margin: 0 auto 49px;
  padding: 5px 10px;
  background-color: #81b3d2;
  color: #ffffff;
  border-color: #81b3d2;
  cursor: pointer;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  border-style: solid;
}
